<div class="container-fluid bg01">
  <div class="row justify-content-center mt-3 mb-5">

    <h4>ジャンルを入力してね</h4>

  </div>

  <%# ジャンル投稿フォーム %>
  <%= form_with model: @genre, url: genres_path, method: :post do |f| %>

    <div class="row justify-content-center mb-4">
      
      タイトル:
      
      <div class="ml-3">
        <%= @book.title %>
      </div>
      
    </div>

    <div class="row justify-content-center mb-4">
      
      概要:
      
      <div class="ml-3">
        <%= @book.explanation %>
      </div>
    
    </div>
    
    <div class="row justify-content-center mb-4">
      <%= f.label :name, "ジャンル:", class: "mr-3" %>
      <%= f.text_field :na, class: "col-4" %>
    </div>

    <div class="row justify-content-center mb-4">
      <%= f.submit "　登　録　", class: "btn btn-primary"%>
    </div>

    <% end %>
    </div>
  </div>
</div>