  <div class="fs-6 flashm"><%= flash[:notice] %></div>
  <div class="row justify-content-center pt-5">

    <h4>新規投稿</h4>

  </div>


<%= form_with model: @book do |book| %>
  <div class="col-8 offset-4 margintop">
    <div class="col mb-3">
      <%= book.label :title, 'タイトル' %><br>
      <%= book.text_field :title, size: 50 %>
    </div>

    <div class="col mb-3">
      <%= book.label :explanation, '作品概要' %><br>
      <%= book.text_area :explanation, size: "50x5" %><br>
    </div>

    <div class="col mb-3">
      <%= book.label :genre_name, 'ジャンル' %>
      <span id="add_genre">+</span>
      <br>
      <%= text_field_tag "genre_name", "", {name: "genre_name[]"} %><br>
      <div id="aaa">

      </div>
    </div>


  <div class="row justify-content-center">
    <%= book.submit "投稿する", class: "btn btn-success" %>
  </div>
<% end %>

<script>
  window.onload = function(){
    function addGenreField(){
     let html = `<input type="text" name="genre_name[]">`
     document.getElementById("aaa").insertAdjacentHTML('beforeEnd', html);
    }
    document.getElementById("add_genre").addEventListener('click', addGenreField)
    console.log("OK")
  }

</script>