  <div class="fs-6 flashm"><%= flash[:notice] %></div>
  <div class="row justify-content-center pt-5 mb-5">

    <h4>新規投稿</h4>

  </div>

  <%# 投稿フォーム %>
  <%= form_with model: @book, url: books_path, method: :post do |f| %>

    <div class="row justify-content-center mb-4">
      <%= f.label :title, "タイトル:", class: "mr-3" %>
      <%= f.text_field :title, class: "col-4" %>
    </div>

    <div class="row justify-content-center mb-4">
      <%= f.label :explanation, "　　概要:", class: "mr-3" %>
      <%= f.text_area :explanation, placeholder: "空白でも可", size: "20x4", class: "col-4" %>
    </div>

    <div class="row justify-content-center mb-4">
      <%= f.label :name, "ジャンル:", class: "mr-3" %>
      <%= f.text_field :name, placeholder: "", class: "col-4" %>

      <%# フォームを追加するボタンを作り一度に複数のジャンルをつけられるようにする %>

    </div>


    <div class="row justify-content-center mb-4">
      <%= f.submit "　登　録　", class: "btn btn-primary"%>
    </div>

  <% end %>

</div>
