<div class="flashm"><%= flash[:notice] %></div>
<div class="errorm"><%= render 'error', book: @book %> </div>
<div class="row justify-content-center pt-5">

  <h4>新規投稿</h4>

</div>

<%= form_with model: @book do |book| %>
  <div class="col-8 offset-4 mt-3">
    <div class="col mb-3">
      <%= book.label :title, 'タイトル' %><br>
      <%= book.text_field :title, size: 50 %>
    </div>

    <div class="col mb-3">
      <%= book.label :explanation, '作品概要' %><br>
      <%= book.text_area :explanation, placeholder: "空白でも可", size: "50x5" %><br>
    </div>

    <div class="col mb-3">
      <%# トラックの追加フォームをするボタン %>
      <%# 詳しいオプション : https://github.com/nathanvda/cocoon#link_to_add_association %>
      <%= book.label :name, "ジャンル" %>
      <%= link_to_add_association '+',
                                  # form_withのformタグ変数
                                  book,
                                  # フォームのデータを追加するモデル名
                                  :genres,
                                  # 追加するフォームの部分テンプレート
                                  partial: "genre_fields",
                                  # オプション
                                  data: {
                                  # フォームを追加する場所の指定
                                  association_insertion_node: '#genre-forms',
                                # フォームを前後どの位置に追加するか。(初期値: before)
                                association_insertion_method: 'before'
                              },
                              # フォームオブジェクトを指定する場合(初期値 : f)
                              form_name: 'genre',
                              # 部分テンプレートに渡す変数があれば記述
                              render_options: {
                                locals: {
                                  # 通常の部分テンプレートと同じ記述
                                }
                              }, class: "btn btn-info rounded-circle p-0 mb-1", style: "width:25px;height:25px;"
  %>

      <%# フォームを追加する場所。%>
      <%#   link_to_add_associationのassociation_insertion_nodeで指定 %>
      <div id="genre-forms" class="mb-2">
        <%= book.fields_for :genres do |genre| %>
          <% render 'genre_fields', genre: genre %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row justify-content-center mb-5">
    <%= book.submit "投稿する", class: "btn btn-success" %>
  </div>
<% end %>