<div class="row pt-5">
  <div class="col-8 offset-4">
    <h5><%= @book.title %></h5>
  </div>
</div>

<div class="row margintop">
  <div class="col-3 ml-2 mt-3">
    <%# ジャンル検索バー %>
    <%= render 'public/searches/search_bar' %>
  </div>

  <div class="col-7">
    <div class="container">
      <table class="table table-borderless">

        <tr>
          <td style="width: 20%">作品概要：</td>
          <td><%= @book.explanation %></td>
        </tr>

        <tr>
          <td style="width: 20%">ジャンル：</td>
          <td id="review_btns_<%= @book.id %>">
            <% @book.genres.each do |genre| %>

                <%= link_to genre.name, books_genre_search_path(word: genre.name), class: "btn-sm btn-secondary mr-2" %>
              
                <%# guestは評価を見るだけ %>
                <% if current_user.guest? %>
                  <i class="fa-solid fa-heart" aria-hidden="true" style="color: red;"></i>
                  <%= genre.favorites.count %>
                
                  <i class="fa-solid fa-heart-crack" aria-hidden="true" style="color: blue;"></i>
                  <%= genre.dislikes.count %>
              
                      
                <% else %>
                      <%# favあり→fav消すボタンのみ表示 %>
                      <% if genre.favorited_by?(current_user) %>
                          <%= render 'public/favorites/btn', genre: genre %>
                
                      <%# favなし、disあり→dis消すボタンのみ表示 %>  
                      <% elsif genre.disliked_by?(current_user) %>
                          <%= render 'public/dislikes/btn', genre: genre %>
                  
                      <%# favなし、disなし→ボタン2つ表示 %>
                      <% else %>
                          <%= render 'public/favorites/btn', genre: genre %>
                          <%= render 'public/dislikes/btn', genre: genre %>
                      <% end %>
                <% end %>
              
            <% end%>
          </td>
        </tr>

      </table>
    </div>
  </div>
</div>
