<div class="row justify-content-center pt-5">
  <h4><%= @user.name %>さんのマイページ</h4>
  <%= link_to "退会する", users_withdraw_path, method: :patch, class: "btn btn-danger ml-5", data: { confirm: "本当に退会しますか？" } %>
</div>

<div class="row justify-content-center mt-5">
  <%= form_with model: @user, method: :patch do |f| %>
    <%= f.text_field :name, size: 25, placeholder: "新しい名前"%>
    <%= f.submit "変更", class: "btn btn-success ml-2 mb-1" %>
  <% end %>
</div>

<div class="row justify-content-center margintop">
  <%= link_to "戻る", user_path(@user) %>
</div>