<!DOCTYPE html>
<html>
  <head>
    <title>Honde、Donaiyanen。</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/3211c81345.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <header class="border-bottom border-dark px-3 pt-2 pb-1 bgcolor">
      <%= render 'layouts/header' %>
    </header>

    <div class="container-fluid vh-100 bg01">
      <%= yield %>
    </div>



    <footer class="row justify-content-center border-top border-dark py-2 bgcolor">
      <%= render 'layouts/footer' %>
    </footer>

  </body>
</html>
