<!DOCTYPE html>
<html>
  <head>
    <title>Honde、Donaiyanen。</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/3211c81345.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="border-bottom p-2">
      <%= render 'layouts/header' %>
    </header>

    
      <%= yield %>
    

    <footer class="row justify-content-center border-top my-2 py-2">
      <%= render 'layouts/footer' %>
    </footer>

  </body>
</html>
